@model Card_Creation_Website.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Card Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardEffect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardEffect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpellType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpellType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElementalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElementalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateCard" asp-route-id="@Model?.CardId">Edit Card</a> |
    <a asp-action="IndexCard">Back to Card Collection</a>
</div>
